<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Thomas Jackson</mat-card-title>
    <mat-card-subtitle>8 Nov</mat-card-subtitle>
  </mat-card-header> 

 <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label style="color: aliceblue; margin-left: 1em;"> Que esta pasando Thomas Jackson?</mat-label> <br>
      <input style="color: aliceblue; margin-left: 1em;" matInput #message maxlength="100"  placeholder="...."> 
      <mat-hint style="color: aliceblue;" align="end">{{message.value.length}} /100  </mat-hint>
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-card-content>

  <div class="ubicacion">
    <mat-form-field appearance="">
      <mat-label style="color: aliceblue;">Ubicación </mat-label>
       <input style="color: aliceblue;" matInput>
      </mat-form-field>
    </div> 

  <mat-card-actions  style="margin-top: -47px;">
    <!--<a mat-button > <img src="https://img.icons8.com/fluent/48/000000/online-support.png"/> Foto/Video</a> -->
    <button mat-raised-button color="primary" (click)="openBottomSheet()">Foto/Video</button>
  </mat-card-actions>

  <button mat-raised-button color="primary" style="margin-left: 15em;"> Publicar</button>

</mat-card>