<mat-card class="example-card">
    <mat-card-content>
        
            <div style="margin-left: 23em;">
                <a> <img style="margin-left: 13em;" src="../../../assets/img/Iconos/baseline_clear_black_18dp.png"> </a>
                <h2 >Page Heading</h2>
                <p align="justify">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </div>    
            <div class="galery">
                <img src="src=/../../assets/img/horse.jpg">
            </div> 
            <button mat-raised-button color="primary">Primary</button>
            <hr>
            <br>
            <div style="margin-left: 23em;">
                <a> <img style="margin-left: 13em;" src="../../../assets/img/Iconos/baseline_clear_black_18dp.png"> </a>
                <h2 >Page Heading</h2>
                <p align="justify">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </div>    
            <div class="galery">
                <img src="src=/../../assets/img/horse.jpg">
            </div> 
          <button mat-raised-button color="primary">Primary</button>
            <hr>
            <br>
            <div style="margin-left: 23em;">
                <a> <img style="margin-left: 13em;" src="../../../assets/img/Iconos/baseline_clear_black_18dp.png"> </a>
                <h2 >Page Heading</h2>
                <p align="justify">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </div>    
            <div class="galery">
                <img src="src=/../../../../assets/img/rome.jpg">
            </div> 
          <button mat-raised-button color="primary">Primary</button>
    </mat-card-content>
  </mat-card>