.example-card {
    margin-top: 3em;
    max-width: 38em;
    margin-left: 26em;  
  }
  
  .mat-form-field{
      margin-left: 1em;
      width: 500px;

         
  }

 .galery img{

    margin-left: 2px;
    margin-top: -17em;
    width: 300px;
    height: 200px;

    border-radius: 5px;
    -webkit-box-shadow: -2px 4px 11px -1px rgba(145,145,145,1);
    -moz-box-shadow: -2px 4px 11px -1px rgba(145,145,145,1);
    box-shadow: -2px 4px 11px -1px rgba(145,145,145,1);
}
  .mat-raised-button{
    margin-left: 32em;
  }