<mat-card class="example-card">
    <mat-card-content>
        
            <div style="margin-left: 23em;">
                <h2 >Page Heading</h2>
                <p align="justify">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </div>    
            <div class="galery">
                <img src="src=/../../assets/img/horse.jpg">
            </div> 
            <button mat-raised-button color="primary">Comprar</button>
            <hr>

            <div style="margin-left: 23em;">
                <h2 >Page Heading</h2>
                <p align="justify">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </div>    
            <div class="galery">
                <img src="src=/../../../../assets/img/squirrel.jpg">
            </div> 
          <button mat-raised-button color="primary">Comprar</button>
            <hr>
            <div style="margin-left: 23em;">
                <h2 >Page Heading</h2>
                <p align="justify">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </div>    
            <div class="galery">
                <img src="src=/../../../../assets/img/the-caucasus.jpg">
            </div> 
          <button mat-raised-button color="primary">Comprar</button>

           
    </mat-card-content>
  </mat-card>