<style>
    body{
       background-image:url(https://aws.traveler.es/prod/designs/v1/assets/1000x667/21250.jpg);
    }
</style>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>

   <br>
   <br>
   <br>

    <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile>
            <mat-card-content>
                <a>15</a>  <a>20</a>  <a>150</a> 
                <br>
                <label>Amigos</label>   <label>Fotos</label>   <label>Comentarios</label> 
            </mat-card-content>

        </mat-grid-tile>
        <mat-grid-tile>
         <button mat-raised-button color="primary">Mensajes</button>
         <button mat-raised-button color="warn">Seguir</button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

    </mat-grid-list>
    <mat-card-content>
        <div class="text-center">
            <h3>Jessica Jones 27</h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Bucharest, Romania</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
            <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
          </div>
      </mat-card-content>
    <hr>

      <div class="galery">
        <img src="src=/../../assets/img/horse.jpg">
        <img src="src=/../../assets/img/compass.jpg">
        <img src="src=/../../assets/img/couple.jpg">
        <img src="src=/../../assets/img/iranian.jpg">
        <img src="../../../assets/img/landscap.jpg">
        <img src="../../../assets/img/mar.jpg">
        <img src="../../../assets/img/moon.jpg">
        <img src="../../../assets/img/rome.jpg">
        <img src="../../../assets/img/squirrel.jpg">
        <img src="../../../assets/img/ the-caucasus.jpg">
        <img src="../../../assets/img/thread.jpg">
        <img src="../../../assets/img/user.jpg">
      </div>

</mat-card>