<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>

   <br>
   <br>
   <br>

    <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile>
            <mat-card-content>
                <a>15</a>  <a>20</a>  <a>150</a> 
                <br>
                <label>Amigos</label>   <label>Fotos</label>   <label>Comentarios</label> 
            </mat-card-content>

        </mat-grid-tile>
        <mat-grid-tile>
         <button mat-raised-button color="primary">Mensajes</button>
         <button mat-raised-button color="warn">Seguir</button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

    </mat-grid-list>

    <mat-card-content>
        <p>
          The ainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

    <hr>

    
     

</mat-card>