<mat-card class="example-card">

    <mat-card-header>
        <div
         mat-card-avatar class="example-header-image">
        </div>
    </mat-card-header>

    <div class="example-container">
     <div class="position-container">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Nombre De Usuario</mat-label>
            <input matInput placeholder="" value=" @JhoniMR">
        </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Numero De Telefono</mat-label>
            <span matPrefix>+57 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
          </mat-form-field>
          <br>  
          <mat-form-field appearance="fill">
            <mat-label >Ubicación </mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label >Fecha De Nacimiento</mat-label>
            <input matInput value="Enero/10/1999">
          </mat-form-field>
          <br>
        <mat-form-field appearance="fill">
          <mat-label>Bibliografia</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary" >Guardar</button>
     </div>
    </div>
      
  
      
      
</mat-card>
