<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="login-box">
    <img src="../../../assets/img/login/logo.png" class="avatar" alt="Avatar Image">
    <h1>Registrase</h1>
  <form>
    <label for="name">Nombre</label>
    <input type="text" placeholder="nombre">
  
    <label for="last_name">apellido</label>
    <input type="text" placeholder="apellido">

    <label for="id">Identificacion</label>
    <input type="text" placeholder="Identificacion">
  
    <label for="gmail">Correo</label>
    <input type="text" placeholder="Correo">

    <label for="name">Nombre</label>
    <input type="text" placeholder="nombre">
  
    <label for="last_name">apellido</label>
    <input type="text" placeholder="apellido">

    <label for="id">Identificacion</label>
    <input type="text" placeholder="Identificacion">
  
    <label for="gmail">Correo</label>
    <input type="text" placeholder="Correo">

    <input type="submit" value="Entrar">
    <a href="#">lost your password?</a><br>
    <a href="#">don't have an account?</a>
    
  </form>
  </div>

</body>
</html>