<mat-toolbar color="primary">
    <div class="logo">
        <a href="#"><img src="../../assets/img/logo.png" width="20%"></a>
      <span>LOGO</span>
    </div>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space">
        <div class="item-toolbar">
            <input type="search" id="site-search" name="buscar" aria-label="Buscar" placeholder="Buscar">
          </div>
    </span>
            
        <div class="icons-feed">
            <a href="#"><img src="../assets/img/Iconos/baseline_add_white_18dp.png"></a>
            <a href="#"><img src="../assets/img/Iconos/baseline_eco_white_18dp.png"></a>
            <a href="#"><img src="../assets/img/Iconos/baseline_notifications_white_18dp.png"></a>
            <a href="#"><img src="../assets/img/Iconos/baseline_explore_white_18dp.png"></a>
            <a href="#"><img id="user" src="../assets/img/user.jpg"> </a>
            <span>Thomas Jackson</span>
        </div>
  </mat-toolbar>

  
