.example-card {
    margin-top: 3em;
    max-width: 38em;
    margin-left: 26em;  
  }
  
  .example-header-image {
    background-image: url('../../../assets/img/user.jpg');
    background-size: cover;
  }

  .mat-form-field{
      margin-left: 1em;
      width: 500px;   

      background-color: #21212E;
      border-radius: 4px 4px 4px 4px;  
      margin-top: 1em;
  }

  .mat-card-content{
    color: cornsilk;
  }
  .mat-card-content mat-label{
    margin-top: 7px;
    color: cornsilk;
  }

  
  